<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
<body>

	<header th:replace="layouts/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text=${title}></div>
			<div class="card-body">


				<img th:if="${#strings.length(client.photo)} > 0"
					class="img-thumbnail rounded float-start" style="max-width: 25%"
					th:alt="${client.photo}" th:src="@{/uploads/} + ${client.photo}" />

				<ul class="list-group mb-4">
					<li class="list-group-item" th:text="${client.name}"></li>
					<li class="list-group-item" th:text="${client.surname}"></li>
					<li class="list-group-item" th:text="${client.email}"></li>
					<li class="list-group-item" th:text="${client.createdAt}"></li>
				</ul>

				<div th:if="${#lists.isEmpty(client.invoices)}"
					class="alert alert-info mb-4"
					th:text="'No invoices exist for ' + ${client.name}"></div>

				<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/invoice/form/} + ${client.id}"
					class="btn btn-primary" th:text="'Create invoice'"></a>

				<div class="table-responsive">
					<table th:if="${not #lists.isEmpty(client.invoices)}"
						class="table table-bordered table-striped my-4">
						<thead>
							<tr class="table-dark">
								<th>id</th>
								<th>description</th>
								<th>date</th>
								<th>total</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')">view</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')" class="text-center">delete</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="invoice : ${client.invoices}">
								<td th:text="${invoice.id}"></td>
								<td th:text="${invoice.description}"></td>
								<td th:text="${invoice.createdAt}"></td>
								<td th:text="${invoice.total}"></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{'/invoice/view/' + ${invoice.id}}"
									th:text="details" class="btn btn-sm btn-primary"></a></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')" class="text-center"><a th:href="@{'/invoice/delete/' + ${invoice.id}}" class="btn btn-danger btn-sm"
									onclick="return confirm('Are you sure?');"><i
										class="bi bi-trash"></i></a></td>
							</tr>
						</tbody>

					</table>
				</div>

			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>

</body>
</html>