<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
<body>

	<header th:replace="layouts/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text=${title}></div>
			<div class="card-body">

				<img th:if="${#strings.length(client.photo)} > 0" class="img-thumbnail rounded float-start" style="max-width: 25%" th:alt="${client.photo}"
					th:src="@{/uploads/} + ${client.photo}">

				<ul class="list-group">
					<li class="list-group-item" th:text="${client.name}"></li>
					<li class="list-group-item" th:text="${client.surname}"></li>
					<li class="list-group-item" th:text="${client.email}"></li>
					<li class="list-group-item" th:text="${client.createdAt}"></li>
				</ul>
			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>

</body>
</html>