<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
<body>

	<header th:replace="layouts/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text=${title}></div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="table-dark">
							<tr>
								<th>id</th>
								<th>name</th>
								<th>surname</th>
								<th>email</th>
								<th>date</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="client: ${clients}">
								<td th:text="${client.id}"></td>
								<td th:text="${client.name}"></td>
								<td th:text="${client.surname}"></td>
								<td th:text="${client.email}"></td>
								<td th:text="${client.createdAt}"></td>
								<td><a th:href="@{/form/} + ${client.id}" th:text="Edit"
									class="btn btn-primary btn-sm d-grid"></a></td>
								<td><a th:href="@{/delete/} + ${client.id}"
									th:text="Delete" class="btn btn-danger btn-sm d-grid"
									onclick="return confirm('Are you sure?');"></a></td>
							</tr>
						</tbody>
					</table>
				</div>

				<h4 class="card-title">
					<a class="btn btn-primary" th:href="@{/form}">Create Client</a>
				</h4>
			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>

</body>
</html>