<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
<body>

	<header th:replace="layouts/layout :: header"></header>

	<div class="container py-4 d-grid justify-content-center">
		<div class="card border-info text-center ">
			<div class="card-header">Sign in</div>
			<div class="card-body">

				<form th:action="@{/login}" method="post">


					<div class="mb-3 ">
						<input type="text" name="username" id="username" placeholder="Username" autofocus required class="form-control"/>
					</div>

					<div class="mb-3 ">
						<input type="password" name="password" id="password" placeholder="Password" required class="form-control"/>
					</div>

					<div class="mb-3 d-grid">
						<input type="submit" value="Sign in" class="btn btn-primary"/>
					</div>

				</form>

			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>

</body>
</html>